@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}


body, html {
    background-color: #070f18;
}
body {
    height: 100%;
    margin: 0;
}
html {
    /* padding-bottom: 50px; */
    padding-bottom: 250px;
    /* Por algun motivo si coloco el min-height se hace mas grande que el body, debe haber algo que esta empujandolo */
    /* min-height: 100%; */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}


/* Carroussel */
.carousel__next, .carousel__prev{
    transform: translate(0%, -50%)!important;
    background-color: #198754;
  }